body{
    background-color: rgb(52, 168, 181);
}

h1{
    display: flex;
    justify-content: center;
}
#mainContainer{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#total{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#inventory-list{
    background-color: rgb(91, 191, 195);
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#next{
    color: rgb(0, 0, 0);
    position: absolute;
    top: 80%;
    left: 80%;
    transform: translate(-50%, -50%);
}
#next:hover{
    color: rgb(255, 1, 1);
}